// Container.scss
$breakpoints: (
  'none': 100%,
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  '2xl': 1536px
);

$padding: (
  'default': 1rem,
  'sm': 2rem,
  'lg': 4rem,
  'xl': 5rem,
  '2xl': 6rem
);

.container {
  width: 100%;
  padding: map-get($padding, 'default');

  @each $size, $value in $breakpoints {
    @if $size !='none' {
      @media (min-width: $value) {
        max-width: $value;
        padding: map-get($padding, $size);
      }
    }
  }
}