// Container.scss
$breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  '2xl': 1536px
);

$padding: (
  'default': 1rem,
  'sm': 2rem,
  'lg': 4rem,
  'xl': 5rem,
  '2xl': 6rem
);

.container {
  width: 100%;
  padding: map-get($padding, 'default');
  margin: 0 auto;

  @each $size, $value in $breakpoints {
    @media (min-width: $value) {
      max-width: $value;
      padding: 0 map-get($padding, $size);
    }
  }
}