.wrapper {
  min-width: 120px;
  width: calc(4rem + 12vw);

  svg {
    width: 100%;
    fill: var(--gray-100);
  }
}

@media (min-width: 1024px) {
  .wrapper {
    width: calc(6rem + 5vw);
  }
}

@media (min-width: 1920px) {
  .wrapper {
    width: 200px;
  }
}