.menuOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.menu {
  width: clamp(400px, 50%, 600px);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--gray-100);
  padding: 1rem 0 0 1.5rem;
  z-index: 2;
}

.list {
  padding: 3rem 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  li {
    list-style-type: none;

    a {
      color: var(--black-500);
    }
  }
}

@media(min-width: 768px) {
  .menu {
    padding: 1.5rem 0 0 2rem;
  }
}