.hamburgerWrapper {
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2rem;
}

.hamburgerButton {
  --hamburger-line-height: 1.5px;
  --gap-between-lines: 6px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-between-lines);
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 2;

  &.isOpen {
    .hamburgerLine {
      &:first-child {
        transform: translateY(calc((var(--gap-between-lines) / 2) + (var(--hamburger-line-height) / 2))) rotate(45deg);
      }

      &:last-child {
        transform: translateY(calc(((var(--gap-between-lines) / 2) + (var(--hamburger-line-height) / 2)) * -1)) rotate(-45deg);
      }
    }
  }
}

.hamburgerLine {
  background-color: var(--gray-100);
  width: 24px;
  height: var(--hamburger-line-height);
  transition: transform 0.2s;
  will-change: transform;
}

@media (min-width: 1024px) {
  .hamburgerButton {
    display: none;
  }
}