.wrapper {
  position: fixed;
  padding: 1.5rem 0 0 0;
  width: 100%;
  z-index: 3;

  a,
  span {
    color: var(--gray-100);
  }
}

.innerWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.logoWrapper {
  min-width: 120px;
  width: calc(4rem + 12vw);

  svg {
    width: 100%;
    fill: var(--gray-100);
  }
}

.cartWrapper {
  display: flex;
  justify-content: flex-end;
}

@media(min-width: 1024px) {
  .wrapper {
    padding: 2.5rem 0 0 0;
  }

  .logoWrapper {
    width: calc(6rem + 5vw);
  }
}

@media (min-width: 1920px) {
  .logoWrapper {
    width: 200px;
  }
}